USE [master]
GO
/****** Object:  Database [Tarefas]    Script Date: 11/07/2023 14:31:34 ******/
CREATE DATABASE [Tarefas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tarefas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tarefas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tarefas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tarefas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tarefas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tarefas]
GO
/****** Object:  Table [dbo].[TAREFAS]    Script Date: 11/07/2023 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREFAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[DATA_HORA] [datetime] NOT NULL,
	[PRIORIDADE] [int] NOT NULL,
	[CONCLUIDA] [bit] NOT NULL,
 CONSTRAINT [PK_TAREFAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
